<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>89445901154-3kgp8npctq862sf2tdnp6cnk7f4hpno4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.89445901154-3kgp8npctq862sf2tdnp6cnk7f4hpno4</string>
	<key>API_KEY</key>
	<string>AIzaSyA2GuGSQdJldxF9idy3BPnwCw6TNilTdlI</string>
	<key>GCM_SENDER_ID</key>
	<string>89445901154</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.jobs.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>jobs-398815</string>
	<key>STORAGE_BUCKET</key>
	<string>jobs-398815.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:89445901154:ios:71272f6fb874551880023b</string>
	<key>DATABASE_URL</key>
	<string>https://jobs-398815-default-rtdb.firebaseio.com</string>
</dict>
</plist>